.container {
     padding-right: 0;
     padding-left: 0;
     margin-right: 5px;
     margin-left: 10px;
     width: 98%;
}

hr.panel-divider {
	margin-top: 3px;
	margin-bottom: 3px;
	border: 0;
}

#dataset-descri

.variable-descriptors {
	margin-bottom: 0px;
}

table, th, td {
	border: 1px solid black;
	padding: 2px;
}


.center {
    display : table-cell;
    vertical-align : left;
    border : 1px solid black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    border : 1px solid black;
}

.panel {
	margin-bottom:0px;
}

.panel-heading {
	line-height:32px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #A9D0F5;
}

.panel-body {
	padding-top: 0px;
}

.panel-caption {
	font-weight: bold;
	font-size:12pt;	
}

.section-caption {
	font-weight: bold;
	font-size:10pt;
	text-decoration: underline;
}

.select-box {
	margin-bottom: 8px;
}

.btn-table {
	width: 120px;
	margin-bottom: 8px;
}

.single-var-elements {
	display: none;
}

#btn-marginals:disabled {
	color: gray;
}

.btn-table:disabled {
	color: gray;
}

.btn-chart {
	width: 120px;
	margin-bottom: 8px;
}

.btn-chart:disabled {
	color: gray;
}

#workbook-container {
	height: 100%;
}

#workbook {
	overflow: scroll;
	height: 803px;
}

#command-history {
	overflow: scroll;
}

#app-title {
	margin-left: 15px;
	font-size: 35pt;
	font-weight: 900;
	vertical-align: middle;
}

#control-panel {
	border-left: none;
	height: 100%;
}

#command-history {
	width:16%;
	border-right: none;
	height: 805px;
}

#command-history-header {
	text-decoration: underline;
}

#command-history-body {
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
}

