<!DOCTYPE html>
<html ng-app="webchipApp">
<head>
	<script src="js/jquery.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/c3.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/webchipControllers.js"></script>
	<script type="text/javascript" src="js/d3.min.js"></script>
	<script type="text/javascript" src="js/c3.min.js"></script>
	<link href="css/webchip.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="default">
	<div class="container">
	  <div class="row">
	  	<span id="app-title">Webchip 4.0</span>
	  	<button id="test-button">Test</button>
	  </div>
	  <div class="col-md-3 center" id="control-panel">
		  	<div class="panel">
		  		<div class="panel-heading clearfix">
		  			<span class="panel-caption" data-toggle="collapse" data-target="#dataset-options">Choose Dataset</span>
		  		</div>
		  		<div class="panel-body" id="dataset-options">
		        	<select id="dataset-list" ng-model="na1" ng-options="obj.name group by obj.collection for obj in availableDatasets track by obj.path" ng-change="changeDataset()">
		        		<option value=''>Select Dataset</option>
		        	</select>
		        	<br>
		        	<br>
		        	<span class="section-caption">Description:</span>
		        	<p>
		        		{{ title }}
		        	</p>
		        	<span class="section-caption">Variables:</span>
		        	<p id="dataset-description">
		        		<p ng-repeat="obj in numberCategories"><b>{{ obj.var }}</b>: {{ obj.cats }} categories</p>
		        	</p>
		    	</div>
		  	</div>
		  	<hr class="panel-divider">
		  	<div class="panel">
		  		<div class="panel-heading clearfix">
		  			<span class="panel-caption" data-toggle="collapse" data-target="#variable-options">Choose Variables</span>
		  		</div>
		  		<div class="panel-body" id="variable-options">
		  			<span class="section-caption">Crosstab Variables:</span><br>
		  				<label for="crosstab-row">Row: </label>
			        	<select name="crosstab-row" id="crosstab-row" class="select-box" ng-model="na2" ng-options="obj for obj in varNames track by obj">
			        		<option value=''>Select Row</option>
			        	</select>
			    	<br>
			    		<label for="crosstab-row">Column: </label>
			        	<select id="crosstab-col" class="select-box" ng-model="na3" ng-options="obj for obj in varNames track by obj">
			        		<option value=''>Select Column</option>
			        	</select>
			        <br>
			        <br>
			        <span class="section-caption">Single Variable:</span><br>
			        	<select id="single-var" class="select-box" ng-model="na4" ng-options="obj for obj in varNames track by obj">
			        		<option value='' selected='selected'>Select Variable</option>
			        	</select>
		    	</div>
		  	</div>
		  	<hr class="panel-divider">
		  	<div class="panel">
		    	<div class="panel-heading clearfix">
		  			<span class="panel-caption" data-toggle="collapse" data-target="#table-options">Generate Table</span>
		  		</div>
		  		<br>
		  		<div class="panel-body" id="table-options">
		  			<button disabled id="btn-marginals" class="btn-table" ng-click="generateMarginals()">Marginals</button><br>
		  			<button disabled id="btn-frequency" class="btn-table" ng-click="generateFrequency()">Frequency</button><br>
		  			<button disabled id="btn-pctAcross" class="btn-table" ng-click="generatePctAcross()">Percent Across</button><br>
		  			<button disabled id="btn-pctDown" class="btn-table" ng-click="generatePctDown()">Percent Down</button><br>
		  		</div>
		    </div>
		    <hr class="panel-divider">
		    <div class="panel">
		    	<div class="panel-heading clearfix">
		  			<span class="panel-caption" data-toggle="collapse" data-target="#chart-options">Generate Chart</span>
		  		</div>
		  		<br>
		  		<div class="panel-body" id="chart-options">
		  			<button disabled id="btn-barChart" class="btn-chart">Bar Chart</button><br>
		  			<button disabled id="btn-pieChart" class="btn-chart">Pie Chart</button><br>
		  			<button disabled id="btn-lineChart" class="btn-chart">Line Chart</button><br>
		  			<button disabled id="btn-stackedBar" class="btn-chart">Stacked Bar</button><br>
		  		</div>
		  	</div>
		  </div>
	  <div class="col-md-7 center" id="workbook-container">
	  	<div id="workbook">
	  	</div>
	  </div>

	  <div class="col-md-2 center" id="command-history">
	  	<span class="panel-caption" id="command-history-header">Dataset History<span>
	  	<br>
	  	<div id="command-history-body">
	  	</div>
	  </div>
	</div>
	<script src="js/ui.js"></script>
	<script src="js/test.js"></script>
</body>

</html>
