/*Last Editted 10:00 PM 6/17/2015*/

.container {
	border: 2px gray;
	padding-left: 0px;
	padding-right: 0px;
}

.menu {
	background-color: #D6D6D6;
    height: 1000px;
    width: 220px;
    padding-top: 10px;
    float: left;
    /*display: inline-block;*/
    /*padding: 25px;*/
    /*border: 25px solid navy;*/
    /*margin: 25px;*/
}

.title {
	/*color: ;*/
	/*margin-top: 10px;*/
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.chooseFile {
	/*background-color: white;*/
	/*height: 200px;*/
	margin: 10px;
}

div.subitem a.list-group-item {
    padding-left: 30px;
}

.listItem {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.list-group {
	margin: 0px !important;
}

.infoTitle {
	background-color: #0B43E7;
	color: white;
	/*margin-top: 10px;*/
}

.dataInfo {

	margin: 10px;
}

.infoContent {
	height: 100px;
	/*width: 200px;*/
	font-size: 10px;
	/*margin: 10px;*/
	overflow: scroll;
	background-color: white;
}

.chooseData {
	margin: 10px;
	height: 240px;
	background-color: white;
	border-radius: 3px;
}



.control {
	margin: 10px;
}
.dropDown {
	margin: 10px;
	width: 110px;
	/*display: inline-block;*/
	float: left;
}

.step {
	/*display: inline-block;*/
	float: left;
	margin: 10px;
}

.multiple {
	margin: 10px;
	width: 110px;
	height: 100px;
	overflow: scroll;
	/*display: inline-block;*/
	float: left;
	border: 1px solid gray;
	border-radius: 3px;
}

.checkbox {
	margin: 0px !important;
}
.createTable {
	margin: 10px;
	/*height: 240px;*/
	background-color: white;
	border-radius: 3px;
}

.tableTitle {
	background-color: #0B43E7;
	color: white;
}

.chooseTable {
	margin: 10px;
}

.cursor {
	cursor: pointer;
}

.result {
	/*display: inline-block;*/
	float: left;
	height: 1000px;
	width: 500px;
	border-width: 3px;
	border-style: groove;
	overflow: scroll;
}

.log {
	float: left;
	height: 1000px;
	width: 200px;
	border-width: 3px;
	border-style: groove;
	overflow: scroll;
}
